body{
  transition: all .4s;
}
#toggle-theme {

  font-size: 30px;
  padding: 20px;
  border-radius: 20px;
  border: solid;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.highlight {
  background-color: aqua;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.lists {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
  border-radius: 5px;
  border-style: dotted;
  color: red;
  font-size: 15px;
  margin-left: 10px;
}

.add-btn1,
.add-btn2 {
  border-radius: 5px;
  border-style: dotted;
  font-size: 15px;
}
