.highlight {
  background-color: aqua;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.lists {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
